
/* Estilos generales */
.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-image:  url('./assets/img/movieBG2.png'); /* Imagen de fondo */
  min-height: 100vh;
  color: #333;
}

/* Estilos para la lista de películas */
.movieList {
  margin: 0 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  min-height: 100vh;
  gap: 30px; /* Espaciado entre las tarjetas */
  padding: 20px;
}

/* Contenedor de la tarjeta de película */
.movie-card {
  width: 260px;
  height: 500px; /* Ancho fijo para las tarjetas */
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
  cursor: pointer;
  margin: 15px;
}

/* Efecto de zoom y sombra al pasar el ratón */
.movie-card:hover {
  transform: translateY(-10px); /* Mueve la tarjeta hacia arriba */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.9); /* Sombra más intensa */
}

/* Contenedor de la imagen y la descripción */
.image-container {
  position: relative;
  width: 100%;
  height: 420px; /* Altura fija */
}

/* Estilo de la imagen de la película */
.movie-image {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 100%; /* Ajusta la altura al 100% del contenedor */
  object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
  border-bottom: 3px solid #f1f1f1; /* Línea separadora entre la imagen y el texto */
  transition: transform 0.3s ease; /* Transición para el efecto hover */
  backface-visibility: hidden; /* Esconde la cara trasera durante el giro */
}

/* Descripción de la película */
.movie-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0; /* Oculta la descripción por defecto */
  backface-visibility: hidden; /* Esconde la cara trasera durante el giro */
  transform: rotateY(180deg); /* Coloca la descripción hacia atrás por defecto */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
}

/* Imagen de fondo de la descripción */
.movie-description-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
  opacity: 0.4; /* Hacemos la imagen más tenue */
}

/* Contenido de texto */
.text-content {
  position: relative;
  z-index: 1; /* Asegura que el texto esté por encima de la imagen */
  text-align: center;
}
.text-content  span{
  color: #341010;
}

/* Contenedor de la imagen y la descripción al pasar el ratón */
.image-container:hover .movie-image {
  transform: rotateY(180deg); /* Gira la imagen */
}

.image-container:hover .movie-description {
  opacity: 1; /* Muestra la descripción */
  transform: rotateY(0deg); /* Coloca la descripción hacia adelante */
}

/* Estilos para el título */
.movie-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: bold;
  color: #fa8072;
  text-align: center;
}

/* Título */
.swal-title {
  color: #fa8072; /* Color personalizado */
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Contenido HTML */
.swal-html {
  color: #341010; /* Color del texto */
  font-size: 1rem;
  line-height: 1.6; /* Espaciado entre líneas */
  text-align: left; /* Alinear a la izquierda */
}

/* Botón */
.swal-button {
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin bordes */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño del texto */
  font-weight: bold;
  cursor: pointer; /* Cursor de puntero */
  transition: background-color 0.3s ease; /* Efecto de transición */
}

/* Efecto hover en el botón */
.swal-button:hover {
  background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}

/* Botón de cancelar */
.swal-button-cancel {
  background-color: #dc3545; /* Color de fondo rojo */
  color: white; /* Color del texto */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Botón de cancelar al pasar el ratón */
.swal-button-cancel:hover {
  background-color: #a71d2a; /* Rojo más oscuro */
}

/* Estilo para el texto de género */
.movie-card p {
  font-size: 1rem;
  color: #341010;
  text-align: center;
}
/* Media queries para pantallas medianas */
@media (max-width: 768px) {
  .movieList {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 576px) {
  .movieList {
    grid-template-columns: 1fr;
  }
}